{{"<!-- Copyright -->" | safeHTML }}
<footer class="flex-container mt-4">
    <div class="p-4 bg-dark text-white text-center">
        <div class="row">
            <div class="col-md-6 txt-footer">
                <small>{{ .Site.Title }} &copy;{{ now.Format "2006" }}</small>
                <br>
                <sub>Designed with dedication by <a class="txt-footer" href="http://catlow.tech/">CatlowTech</a></sub>
            </div>
            <div class="col-md-6 txt-footer">
                <small>117 Old Bass Highway, Wynyard Tasmania 7325</small><br>
                <small>ABN: 56 335 494 559</small></div>
        </div>
    </div>
</footer>