<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-lg-block">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-2 mr-2">
            <a class="nav-link" href="tel:+61364422198">Phone: 03 6442 2198</a>
        </li>
        <li class="nav-item ml-2 mr-2">
            <a class="nav-link" href="mailto:info@inglissupport.com">Email: info@inglissupport.com</a>
        </li>
    </ul>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light static rounded-bottom">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
            <img style="height: 80px;" src="{{ "images/darkAsset.png" | relURL }}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#body">{{ .Site.Params.home }}</a></li>
                {{ if .IsHome }}
                {{ range .Site.Menus.main }}
                <li class="nav-item ml-3 mr-3"><a href="{{ .URL }}" class="nav-link">{{ .Name }}</a></li>
                {{ end }}

                {{ else }}

                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a class="nav-link ml-3 mr-3" href="{{ $.Site.BaseURL | relLangURL }}{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</nav>